language: python
python:
  - "3.5"
# command to install dependencies
before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -y tshark

install: "pip install -r requirements.txt"
# command to run tests
script: python setup.py test
